<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<h2>Form Đăng nhập</h2>

<form action="/login/check" method="post">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Mật Khẩu:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Đăng Nhập</button>
</form>

<!-- Thông báo -->
<p th:text="${message}"></p>

</body>
</html>
