<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tính diện tích & chu vi HCN</title>
</head>
<body>
<h2>Nhập chiều dài và chiều rộng hình chữ nhật</h2>

<form action="/dthcn/calc" method="post">
    <label>Chiều dài hcn:</label>
    <input type="number" name="length" step="0.1" required><br><br>

    <label>Chiều rộng hcn:</label>
    <input type="number" name="width" step="0.1" required><br><br>

    <button type="submit">Tính toán</button>
</form>

<div th:if="${area != null}">
    <p>Diện tích: <span th:text="${area}"></span></p>
    <p>Chu vi: <span th:text="${perimeter}"></span></p>
</div>
</body>
</html>
