<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h2>Đổi mật khẩu</h2>

<p style="color:red" th:text="${message}"></p>

<form action="/account/change-password" method="post">
    <label>Mật khẩu cũ:</label>
    <input type="password" name="oldpass" required><br>

    <label>Mật khẩu mới:</label>
    <input type="password" name="newpass" required><br>

    <label>Xác nhận mật khẩu mới:</label>
    <input type="password" name="confirmpass" required><br><hr>

    <button type="submit">Đổi mật khẩu</button>
</form>

<p><a href="/">← Về trang chủ</a></p>
</body>
</html>
